.price-sale {
    color: #d84523;
    font-size: 90%;
    text-decoration: line-through;
}
.btn {
    background-color: #2ed87b !important;
}
.btn:hover,
.btn.hover,
.btn:focus,
.btn.focus,
.btn:active,
.btn.active {
  color: #fff;
  background-color: #25c76f !important;
  border-color: #25c76f !important;
}

.btn-coupon {
    background-color: #00A84E !important;
}
.btn-coupon:hover,
.btn-coupon.hover,
.btn-coupon:focus,
.btn-coupon.focus,
.btn-coupon:active,
.btn-coupon.active {
  color: #fff;
  background-color: #25c76f !important;
  border-color: #25c76f !important;
}